body {
  text-align: justified;
  position: absolute;
	top: 25%;
  right: 25%;
	left: 25%;
}

header {
	text-align: center;
}


a:link {
	color: black;
	font-family: Helvetica;
}

a:visited {
	color: black;
	font-family: Helvetica;
}

a:hover {
	color: #680303;
	font-family: Helvetica;
}

p {
  	font-family: Helvetica; 
  	color: #545454;
  	line-height: 140%;
    text-align: justified;
}

h1 {
  	font-family: Garamond;
  	color: #680303;
  	font-weight: bold;
    font-size: 48px;
}

ul {
	list-style: none;
	 margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: Helvetica;
    font-size: 120%;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding-left: 0;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: none;
}

#jandaalder {
  font-size: 150%;
  color: black;
}

.activepage {
  font-weight: bold;
}
