body {
  	text-align: justified;
  	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header {
	text-align: left;
}


a:link {
	color: black;
	font-family: Helvetica;
}

a:visited {
	color: black;
	font-family: Helvetica;
}

a:hover {
	color: gray;
	font-family: Helvetica;
}

p {
  	font-family: Garamond; 
  	color: black;
  	line-height: 140%;
}

h1 {
  	font-family: Helvetica;
  	color: gray;
  	font-weight: bold;
}

ul {
	list-style: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: left;
	font-family: Helvetica;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding-left: 0;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: none;
}
